- name: Setting up Girder
  hosts: localhost
  vars:
    required_ansible_version: 2.1.0
  tasks:
    - fail: msg="Playbook requires ansible >= {{required_ansible_version}}"
      when: ansible_version.string|version_compare(required_ansible_version, '<')

    - name: Set some facts
      set_fact:
        girder_host: "{{girder_host|default('localhost')}}"
        girder_port: "{{girder_port|default(8080)}}"
        girder_scheme: "http"

    - name: Create Girder mdb user
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        user:
          firstName: "mdb"
          lastName: "mdb"
          login: "mdbadmin"
          password: "{{ mdb_password }}"
          email: "mdb@kitware.com"
          admin: yes
        state: present

    - name: Create curator group
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        group:
          name: "curator"
          description: "The MDB curation group"
        state: present

    - name: Enable MDB plugins
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        plugins:
          - materialsdatabank
        state: present

    - name: Create filesystem assetstore
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        assetstore:
          name: "Filesystem Assetstore"
          type: "filesystem"
          root: "/assetstore"
          current: true
        state: present

    - name: Enable OAuth plugin
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        plugins:
          - oauth
        state: present

    - name: Enable worker plugin
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        plugins:
          - worker
        state: present

    - name: Restart the server
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        put:
          path: "system/restart"

    - name: Wait until server restarts
      wait_for:
        host="{{girder_host}}"
        port="{{girder_port}}"
        delay=5

    - name: Configure OAuth plugins
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        setting:
          key: "{{item.key}}"
          value: "{{item.value}}"
        state: present
      with_items:
        - {
          "key": "oauth.google_client_id",
          "value": "{{ oauth_google_client_id }}"
        }
        - {
          "key": "oauth.google_client_secret",
          "value": "{{ oauth_google_client_secret }}"
        }
        - {
          "key": "oauth.providers_enabled",
          "value": ["google"]
        }

    - name: Restart the server
      girder:
        host: "{{girder_host}}"
        port: "{{girder_port}}"
        scheme: "{{girder_scheme}}"
        username: "mdbadmin"
        password: "{{ mdb_password }}"
        put:
          path: "system/restart"

    - name: Wait until server restarts
      wait_for:
        host="{{girder_host}}"
        port="{{girder_port}}"
        delay=5
